.root{
	position: absolute;
	top:0;right:.3rem;
	height:.6rem;
	line-height: .6rem;
}

.user-btn{
	display:inline-block;
	line-height: .6rem;
	padding: 0 .2rem;
	color: white;
}

.logged{
	display: inline-block;
	height: .3rem;
	line-height: .6rem;
	width: .3rem;
	border-radius: 50%;
	border: 1px solid #eee;
	overflow: hidden;
}
.logged img{
	height: 100%;
	width: 100%;
	display: block
}


@media screen and (max-width:768px) {
	.root{
		display:none;
	}
}